<!-- Footer
    ================================================== -->
<div id="tf-footer">
    <div class="container">
        <p class="pull-left">© 2015 - 2016 AgileTribu. All rights reserved. Theme by Rudhi Sasmito.</p>
        <ul class="list-inline social pull-right">
            <li><a href="https://twitter.com/agiletribu"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
</div>